<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tokimon Home</title>
    <link rel="stylesheet" href="stylesheets/home.css" />
	<script src="battle.js" defer></script> 
</head>

<body>
    <a class="Header"href="/">
        <img class ="logo" src="images/filltitle.png" alt="tokimon logo"/>
    </a>
    
    <div class="white">
        <div class="block"> </div>
        <h2> Tokimon Battle </h2>
		<p> Click Below to Start the Battle </p>
        <div id="container">
            <div id = "left">
				<p class="name"><%=rows[0].name %></p>
				<p>Caught By: <%=rows[0].trainer %></p>
				<p class="sid"><%=rows[0].total%></p>
            </div>
			<div><h1 id="vs"> VS </h1> </div>
	        <div id= "right">
				<p class= "name"><%=rows[1].name %></p>
				<p>Caught By: <%=rows[1].trainer %></p>
				<p class="sid"><%=rows[1].total%></p>
            </div>	
        </div>
		<p id= result>WHO WILL WIN?</p>
		<a>
		
        <div class="block"> </div>
    </div>

</body>
</html>