<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tokimon Home</title>
    <link rel="stylesheet" href="stylesheets/home.css" />
	<script src="homepage.js" defer></script> 
</head>

<body>
    <a class="Header"href="/">
        <img class ="logo" src="images/filltitle.PNG" alt="tokimon logo"/>
    </a>
    
    <div class="white">
        <div class="block"> </div>
        <h2> My Tokimons </h2>
        <ul class="tokimans">
			<%var sid=0;%>
			<% rows.forEach((r)=>{ %>
				<li>
                    <div class="display">
						<p><%=r.name %></p>
						<p>Caught By: <%=r.trainer %></p>
						<p>Height: <%=r.height %></p>
						<p>Weight: <%=r.weight%></p>
						<p>Speed: <%=r.speed %></p>
						<p class="sid" ><%=r.id%></p>
						
                    </div>
				</li>
			<%sid=sid+1;%>
			<% }); %>
            <li>
                
                <a href="createnew.html">
                    <div class="display">
                        <p style="font-size: 100px; font-size:4vw">+</p>
                        <img />
                    </div>
                </a>
            </li>
        </ul>
		<form id="clickprofile" action="/profile" method="post">
		<input type="hidden" id="sid" name = "sid"/>
		</form>
        <div class="block"> </div>
    </div>

</body>
</html>