<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tokimon Home</title>
    <link rel="stylesheet" href="stylesheets/home.css" />
	<script src="profile.js" defer></script> 
</head>
<body>
    <a class="Header"href="/">
        <img class ="logo" src="images/filltitle.PNG" alt="tokimon logo"/>
    </a>
    
    <div class="white">
        <div class="block"> </div>
        <h2><%=row.name%></h2>
		<p id="id" ><%=row.id%></p>
		<table class="profile1">
		<tr>
			<td> Caught By:</td>
			<td> <%=row.trainer %></td>
		</tr>
		<tr>
			<td> Height:</td>
			<td><%=row.height %> cm</td>
		</tr>
		<tr>
			<td> Weight:</td>
			<td><%=row.weight%> lb.</td>
		</tr>
		<tr>
			<td>Speed:	</td>
			<td><%=row.speed %>m/s</td>
		</tr>
		</table>
		<h2> Statistics: </h2>
		
		<table class="grid">
			<tr>
				<th>Flight </th>
				<th>Fight </th>
				<th>Fire </th>
				<th>Water </th>
				<th>Electric </th>
				<th>Ice </th>
				<th>Total </th>
				
            </tr>
            <tr>
				<td><%=row.fly%></td>
                <td><%=row.fight%></td>
				<td><%=row.fire%></td>
				<td><%=row.water%></td>
				<td><%=row.electric%></td>
				<td><%=row.ice%></td>
				<td><%=row.total%></td> 
            </tr>
        </table>
		<br>
		<form class="" onsubmit="return confirm('Do you really want to delete this Tokimon from the Tokidex?');" action="/delete" method="post">
		<input type="hidden" id="delid" name = "sid"/>
		<button id="delete"> Delete Tokimon </button>
        </form>
		<form class="" action="/edit" method="post">
		<input type="hidden" id="editid" name = "sid"/>
		<button> Edit Profile </button>
        </form>
        <div class="block"> </div>
    </div>

    
</body>
</html>