<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tokimon Home</title>
    <link rel="stylesheet" href="stylesheets/home.css" />
	<script src="selectbattle.js" defer></script> 
</head>

<body>
    <a class="Header"href="/">
        <img class ="logo" src="images/filltitle.png" alt="tokimon logo"/>
    </a>
    
    <div class="white">
        <div class="block"> </div>
        <h2> Battle Selection </h2>
		<p>Select 2 Tokimons to Battle </p>
        <ul class="tokimans">
			<%var sid=0;%>
			<% rows.forEach((r)=>{ %>
				<li>
                    <div class="select">
						<p><%=r.name %></p>
						<p>Caught By: <%=r.trainer %></p>
						<p>Height: <%=r.height %></p>
						<p>Weight: <%=r.weight%></p>
						<p>Speed: <%=r.speed %></p>
						<p class="sid" ><%=r.id%></p>
						
                    </div>
				</li>
			<%sid=sid+1;%>
			<% }); %>
        </ul>
		
		<form id="battle" action="/battle" method="get">
		<input type="hidden" id="sid1" name = "sid1"/>
		<input type="hidden" id="sid2" name = "sid2"/>
		<button> Battle! </button>
		</form>
		
        <div class="block"> </div>
    </div>

</body>
</html>